@model BaseViewModel

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->

	<link type="text/css" rel="stylesheet" href="~/lib/bootstrap-5.0.0-dist/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->

	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/site.css" />
	@await RenderSectionAsync("Styles", required: false)
</head>

<body class="bg-light">
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<div class="d-flex justify-content-between">
					<ul class="header-links">
						<li><a href="#"><i class="fa fa-phone"></i> +375(33)-318-39-18</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> kirillcomcom5@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Советская ул. 67, Барановичи 225409</a></li>
					</ul>
					<ul class="header-links">
						@if (User.Identity is not null)
						{
							@if (User.Identity.IsAuthenticated)
							{
								<li><a asp-controller="Account" asp-action="Profile"><i class="fa fa-user-o"></i>Профиль</a>
								</li>
								<li>
									<form method="post" asp-controller="Account" asp-action="Logout"
								asp-route-returnUrl="@Context.Request.Path">
										<a href="#" onclick="this.parentNode.submit();" type="submit"><i
										class="fa fa-sign-out"></i>Выйти</a>
									</form>
								</li>
							}
							else
							{
								<li><a asp-controller="Account" asp-action="Register"><i
									class="fa fa-user-o"></i>Регистрация</a></li>
								<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i>Вход</a></li>
							}
						}
					</ul>
				</div>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-lg-3">
						<div class="header-logo">
							<a asp-controller="Home" asp-action="Index" class="logo">
								<span class="h-title">Chipset</span>
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-lg-6">
						<div class="header-search">
							<form id="search" method="GET" class="d-flex" action="/catalog">
								<select class="input-select">
									<option value="all">Все категории</option>
									@foreach (var category in Model.Categories)
									{
										<option value="@category.MetaName">@category.Name</option>
									}
								</select>
								<input class="input" name="s" placeholder="Искать">
								<button class="search-btn">Поиск</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-lg-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div id="wishlist">
								<a asp-controller="Wishlist" asp-action="Index">
									<i class="fa fa-heart-o"></i>
									<span>Список желаемого</span>
									<div id="wishlistCounter" class="qty">{{ list.length }}</div>
								</a>
							</div>
							<!-- /Wishlist -->

							<!-- Cart -->
							<div>
								<a href="#">
									<i class="fa fa-shopping-cart"></i>
									<span>Корзина</span>
									<div class="qty">3</div>
								</a>
							</div>
						</div>
						<!-- /Cart -->


					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<main>
		<div id="app" class="container bg-white">
			@RenderBody()
		</div>
	</main>
	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row row-cols-lg-4 row-cols-2">
					<div class="col">
						<div class="footer">
							<h3 class="footer-title">О Нас</h3>
							<p>Этот веб-сайт был создан для дипломного проекта по теме "Интернет магазин компьютерных
								комплектующих"</p>
							<ul class="footer-links">
								<li><a><i class="fa fa-map-marker"></i>Советская ул. 67, Барановичи 225409</a></li>
								<li><a><i class="fa fa-phone"></i>+375(33)-318-39-18</a></li>
								<li><a><i class="fa fa-envelope-o"></i>kirillcomcom5@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col">
						<div class="footer">
							<h3 class="footer-title">Категории</h3>
							<ul class="footer-links">
								@foreach (var category in Model.Categories)
								{
									<li><a asp-controller="Catalog" asp-action="@category.MetaName">@category.Name</a></li>
								}
							</ul>
						</div>
					</div>

					<div class="col">
						<div class="footer">
							<h3 class="footer-title">Информация</h3>
							<ul class="footer-links">
								<li><a asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a></li>
							</ul>
						</div>
					</div>

					<div class="col">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a asp-controller="Account" asp-action="Profile">Мой аккаунт</a></li>
								<li><a href="#">View Cart</a></li>
								<li><a asp-controller="Wishlist" asp-action="Index">Список желаемого</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							All rights reserved | Данный веб-сайт был создан для дипломного проекта
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery.zoom.min.js"></script>
	<script src="~/lib/bootstrap-5.0.0-dist/js/bootstrap.min.js"></script>
	<script src="~/js/nouislider.min.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/vue.js"></script>
	<script src="~/js/wishlist.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script src="~/js/main.js" asp-append-version="true"></script>
</body>

</html>
