@model List<CategoryModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Category"] = "Каталог";
}

<div class="catalog-title">
    <h1 class="m-3">@ViewData["Category"]</h1>
</div>

<div class="row row-cols-3">
    @foreach (var category in Model)
    {
        <a class="col category-item" asp-controller="Catalog" asp-action="@category.MetaName">
            <div>
                <div class="category-icon mx-3" style="background-image: url(@(category.IconUrl));"></div>
                <div class="d-inline-block">
                    <span class="text-dark">@category.Name</span>
                    <br>
                    <span class="text-black-50 category-tip">@category.ProductsCount
                        @Html.MakeRuEndings(category.ProductsCount
                    , "товар", "товара", "товаров")</span>
                </div>
            </div>
        </a>
    }
</div>

@for (int i = 0; i < 30; i++)
{
    <br>
}

<br>